/* General Styles */
div {
  /* margin-bottom: 1rem; */
}

label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: auto;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Specific Styles */
h2 {
  margin-top: 0;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.copied {
  color: red;
  transition: color 0.2s ease-in-out;
}

.container {
  margin: 3%;
  
}
.container div {
  margin-bottom: 0.8rem;
}

.text-container {
  border: 1px solid #ccc;
  padding: 10px;
}

/* 
flex for app.js
*/

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-row label {
  flex-basis: 200px;
}

/* this min-wid influence the auto complete */
.input-row input {
  max-width: 40%;
  min-width: 200px;
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.table {
  margin-top: 25px;
}

